.topHeader-about {
  background-image: url(../img/Logo/White\ on\ Black.png);
  background-position: center center;
  background-size: cover;
  height: 40vh;
  min-height: 50%;
}

.navLink-index li{
  display: inline-block;
}