/* Global */
body {
  font-family: 'Barlow Condensed', sans-serif;
  font: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  /* background-color:  #EBE65E; */
  /* background-color: rgb(38, 37, 37); */
}

img {
  max-width: 100%;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

.register {
  width: 60%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.fw-300{
  font-weight: 300;
}

.content-centered {
  max-width: 800px;
}

.container {
  width:  95%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

/* Header Styling */

.topHeader-index {
  background-image: url(../img/Logo/Original.png);
  background-position: center center;
  background-size: cover;
  height: 60vh;
}

/* Nav Styling */

/* .container {
  width:  98%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  
} */

.navLink-index {
  margin-top: 0;
  padding-top: 2%;
}
.navLink-index li,
.navLink-index a {
  font-size: 1.5rem;
  font-weight: 400;
  color: #141413;
  background-color: #EBE65E;
  text-decoration: none;
}

.navLink-index li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 0% 1%;
  border: 2px solid #141413;
  border-radius: 10px;
}

.logo-index {
  cursor: pointer;
}

/* Main Content */

.register {
  width: 80%;
  margin: auto;
}

.story {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.5rem;
}

.image {
  width: 100%;
  height: 100%;
  border: 5px solid #141413;
  border-radius: 10px;
}

/* form */
legend {
  font-size: 20px;
  color: #4f4f4f;
}

label {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.contact p{
  font-size: 14px;
  color: #4f4f4f;
  margin: 20px 0 0 0;
}

input:not([type="submit"]),
textarea,
select {
  background-color: #e1e1e1e1;
  width: 98%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  display: block;
  margin-bottom: 20px;
}

textarea {
  height: 200px;
}

input[type="radio"] {
  width: auto;
  margin: 0px;
}

.form-contact {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Footer */
.navFooter-about li,
.navFooter-about a,
.copy-right {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  list-style: none;
  display: block;
}

.navFooter-about li {
  padding: 0px 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 30px 10%; */
  background-color: #141413;
  padding: 2% 2%;
  margin-top: 3%;
}