/* Type Selectors ------------------ */

body {
    color: #878787;
    margin: 0;
    font-size: 1em;
    line-height: 1.5; 
    }
    
    h1 {  
        font-size: 5.625em; /* 90px/16px = 5.625em */
        color: white;
        text-transform: uppercase;
        font-weight: normal;
        line-height: 1.3;
    }
    
    h2 {
        font-size: 53px;
        text-decoration: underline;
        font-weight: normal;
    }
    
    h3 {
        font-size: 20px;
        color: #48525c;
    }
    
    /* Pseudo-classes ------------------ */
    
    a:link {
        color: orange;
        text-decoration: none;
    }
    
    a:visited {
        color: lightblue;
    }
    
    a:hover {
        color: forestgreen;
    }
    
    a:active {
        color: lightcoral;
    }
    
    /* ID Selectors -------------------- */
    
    #main-footer {
        padding-top: 60px;
        padding-bottom: 60px;
        border-bottom: solid 10px orange;
    }
    
    /* Class Selectors ----------------- */
    
    .main-header {
        background-color: orange;
    }
    
    .title {
        color: white;
        font-size: 1.625rem; /* 26/16 = 1.625em */
    }
    
    .primary-content,
    .secondary-content {
        width: 60%;
    }

    .primary-content,
    .main-header {
        text-align: center;
    }

    .t-border {
        border-top: 2px solid lightgrey;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    