/* Univeral Selector - select everything at once and overwrite all other selector */
/* * {
    margin: 0;
    padding: 0;
    color: red;
} */

/* 
Example
p {
    color: white;
    background-color: lightblue;
} 
*/

body {
    color: #878787;
    margin: 0;
}

/* header {
    background-color: orange;
} */

h1 {
    font-size: 90px;
    color: white;
}

h2 {
    font-size: 53px;
}

h3 {
    font-size: 20px;
    color: #48525c;
}

.main-header {
    background-color: orange;
    width: 960px;
}


.title {
    color: white;
    font-size: 26px;
}

/* decendent selector  */
ol li {
    background-color: tomato;
    color: white;
    margin-bottom: 5px;
}

/* Classes start with a period.
Classes let use target multiple elements */
.primary-content {
    text-align: center;
}

/* .secondary-content {
    border-top: 2px solid lightgrey;
} */

.t-border {
    border-top: 2px solid lightgrey;
}


/* ID selector */
#main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: solid 10px orange;
}

a:link {
    color: orange;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: forestgreen;
}

a:focus {
    color: white;
    background-color: orange;
}