/* You can import a stylesheet inside another stylesheet */
@import url(../cssFiles/import-style.css);

/* Applys to all*/
body {
    text-align: center;
}

h1 {
    font-size: 72px;
    color: white;
}

header {
    background-color: orange;
}

p {
    font-size: 20px;
}