.text-center {
  text-align: center;
}

.fw-300{
  font-weight: 300;
}

.bottom-section {
  display: flex;
  justify-content: space-between;
}

.new-blog .blog-img {
  flex-basis: 40%;
}

.public-comments {
  background-color: green;
}