/* Global Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  font: 16px;
  line-height: 1.5;
  /* background-color:  #EBE65E; */
  background-color: rgb(38, 37, 37);
}

img {
  max-width: 100%;
}


h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

/* Header Styling */

.topHeader-index {
  background-image: url(../img/Logo/Original.png);
  background-position: center center;
  background-size: cover;
  height: 60vh;
  min-height: 50%;
}

/* Nav Styling */

.container {
  width:  98%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
}


.navLink-index li,
.navLink-index a {
  font-size: 1.5rem;
  font-weight: 400;
  color: #141413;
  background-color: #EBE65E;
  text-decoration: none;
}

.navLink-index li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 0% 1%;
  border: 2px solid #141413;
}

.logo-index {
  cursor: pointer;
}

/* Main Styling */

.text-center {
  text-align: center;
}

.fw-700 {
  color: #ABABAB;
  font-weight: 700;
}

.fw-400 {
  color: #141413;
  font-weight: 400;
}

.icon-characteristics .icon {
  height: 50px;
  width: 50px;
}

.alaska-folder {
  border: 10px solid #b5b5b5;
  background-color: #f5f5f5;
  flex: 0 0 calc(33.3% - 10px);
  margin-bottom: 20px;
}


